
    <div class="row">
        {% for entreprise in user.entreprises %}
            <div class="col col-sm col-md col-lg-6 d-flex justify-content-around">
                <div class="card {{ cycle(['odd','even'], loop.index0) }} m-4 " style="width: 30rem;">
                    <div class="card-body">
                        <h6 class="text-muted">Publié le:
                            {{ entreprise.createdAt|date('d-m-Y') }}
                        </h6>
                        <h5 class="card-title mt-0 mb-1">{{ entreprise.nom }}</h5>
                        <p class="card-text mb-0">Description :</p>
                        <p class="card-text mt-0 mb-2">{{ entreprise.description }}</p>
                        <p class="card-text d-inline mt-0">Localisation : </p>
                        <p>
                            {{ entreprise.zip }} {{ entreprise.city }}, {{ entreprise.pays }}
                        </p>
                        <div class="row mt-2">
                            {% if app.user and app.user is same as (user) %}
                                <a href="{{ path('entreprise_edit', {'slug': entreprise.slug}) }}">
                                    <button class="btn btn-success ml-3 mr-5">Editer</button>
                                </a>
                                {{ include('entreprise/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <h3 class="ml-5">Aucun entreprise enregistré</h3>
            </div>
        {% endfor %}
    </div>

