{% extends 'base.html.twig' %}

{% block title %}Diy{% endblock %}

{% block body %}
<h4 class="text-center mt-4">Categorie : activité</h4>
<div class="card testimonial-card mt-4 mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col col-sm col-md-7 col-lg-8">
                <div class="text-muted">
                    <p>Publié le :
                        {{ diy.createdAt|date('d-m-Y') }}
                        {% if app.user and app.user is same as (diy.user) %}
                        <a href="{{ path('diy_edit', {'slug': diy.slug}) }}">
                            <button class="btn btn-secondary ml-4">Editer</button>
                        </a>
                    </p>
                    {% endif %}
                </div>
                <hr>
                <p class="card-title font-weight-bold">Nom de l'activité :</p> {{ diy.nom }}
                <hr>
                <p class="font-weight-bold">Description : </p>{{ diy.description }}
                <hr>
                <p class="font-weight-bold">Code postal : </p>{{ diy.zip }}
                <hr>
                <p class="font-weight-bold">Lien du jeu : </p>
                <a href="{{ diy.link }}" target="_blank">{{ diy.link }}</a>
                <hr>
            </div>
            <div class="col col-sm col-md-4 col-lg-4">
                {% if diy.user.avatar is not null%}
                    <a href="{{ path('account_user',{'slug':diy.user.slug}) }}">
                    <img src="{{ asset('build/uploads/images/avatar/'~ diy.user.avatar) | imagine_filter('my_thumb') }}"
                         class="d-block img-thumbnail mx-auto" alt="avatar" title="voir le profil">
                    </a>
                {% else %}
                    <a href="{{ path('account_user',{'slug':diy.user.slug}) }}">
                    <img src="{{ asset('build/uploads/logo/Logo.png') | imagine_filter('my_thumb') }}"
                         class="d-block img-thumbnail mx-auto" alt="default" title="voir le profil">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ path('diy_index') }}">
                    Retour à la liste de toutes les activités
                </a>
            </div>
        </div>
        {% if app.user %}
        <div class="row">
            <div class="col">
                <a href="{{ path('account_user',{'slug':app.user.slug}) }}">Retour à mon profil</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
