{{ form_start(form, {'attr': {'id': 'pharmacie'}}) }}
<div class="error-message text-center mb-2"></div>
    {{ form_row(form.nom, {'attr': {'class': 'formMain'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'formMain'}}) }}
    {{ form_row(form.city, {'attr': {'class': 'formMain'}}) }}
    {{ form_row(form.zip, {'attr': {'class': 'formMain'}}) }}
    {{ form_row(form.pays, {'attr': {'class': 'formMain'}}) }}
<div class="row">
    <button class="continue">{{ button_label|default('Continuer') }}</button>
</div>
{{ form_end(form) }}

