{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
<h4 class="text-center mt-4">Categorie : entreprise</h4>
<div class="card testimonial-card mt-4 mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col col-sm col-md-7 col-lg-8">
                <div class="text-muted">
                    <p>Publié le :
                        {{ entreprise.createdAt|date('d-m-Y') }}
                        {% if app.user and app.user is same as (entreprise.user) %}
                        <a href="{{ path('entreprise_edit', {'slug': entreprise.slug}) }}">
                            <button class="btn btn-secondary ml-4">Editer</button>
                        </a>
                    </p>
                    {% endif %}
                </div>
                <hr>
                <p class="card-title font-weight-bold">Nom de l'entreprise partenaire :</p> {{ entreprise.nom }}
                <hr>
                <p class="font-weight-bold">Description : </p> {{ entreprise.description }}
                <hr>
                <p class="font-weight-bold">Code postal : </p> {{ entreprise.zip }}
                <hr>
                <p class="font-weight-bold">Ville : </p> {{ entreprise.city }}
                <hr>
                <p class="font-weight-bold">Ville : </p> {{ entreprise.pays }}
                <hr>
            </div>
            <div class="col col-sm col-md-4 col-lg-4">
                {% if entreprise.user.avatar is not null%}
                    <a href="{{ path('account_user',{'slug':entreprise.user.slug}) }}">
                        <img src="{{ asset('build/uploads/images/avatar/'~ entreprise.user.avatar) | imagine_filter('my_thumb') }}"
                             class="d-block img-thumbnail mx-auto" alt="avatar" title="voir le profil">
                    </a>
                {% else %}
                    <a href="{{ path('account_user',{'slug':entreprise.user.slug}) }}">
                        <img src="{{ asset('build/uploads/logo/Logo.png') | imagine_filter('my_thumb') }}"
                             class="d-block img-thumbnail mx-auto" alt="default" title="voir le profil">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ path('entreprise_index') }}">
                    Retour à la liste de toutes les entreprise partenaire
                </a>
            </div>
        </div>
        {% if app.user %}
        <div class="row">
            <div class="col">
                <a href="{{ path('account_user',{'slug':app.user.slug}) }}">Retour à mon profil</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
