{% extends 'base.html.twig' %}

{% block title %}proposition{% endblock %}

{% block body %}
    <h4 class="text-center mt-4">Categorie : proposition babbysitting</h4>
    <div class="card testimonial-card mt-4 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col col-sm col-md-7 col-lg-8">
                    <div class="text-muted">
                        <p>Publié le :
                            {{ proposition.createdAt|date('d-m-Y') }}
                            {% if app.user and app.user is same as (proposition.user) %}
                            <a href="{{ path('proposition_babysitting_edit', {'slug': proposition.slug}) }}">
                                <button class="btn btn-secondary ml-4">Editer</button>
                            </a>
                        </p>
                        {% endif %}
                    </div>
                    <hr>
                    <p class="card-title font-weight-bold">Titre de l'annnonce :</p> {{ proposition.nom }}
                    <hr>
                    <p class="font-weight-bold">Type d'proposition : </p> {{ proposition.type }}
                    <hr>
                    <p class="font-weight-bold">Description : </p> {{ proposition.description }}
                    <hr>
                    <p class="font-weight-bold">Code postal : </p> {{ proposition.zip }}
                    <hr>
                    <p class="font-weight-bold">Ville : </p> {{ proposition.city }}
                    <hr>
                    <p class="font-weight-bold">Pays : </p> {{ proposition.pays }}
                    <hr>
                </div>
                <div class="col col-sm col-md-4 col-lg-4">
                    <div class="col col-sm col-md-4 col-lg-4">
                        {% if proposition.user.avatar is not null%}
                            <a href="{{ path('account_user',{'slug':proposition.user.slug}) }}">
                                <img src="{{ asset('build/uploads/images/avatar/'~ proposition.user.avatar) | imagine_filter('my_thumb') }}"
                                     class="d-block img-thumbnail mx-auto" alt="avatar" title="voir le profil">
                            </a>
                        {% else %}
                            <a href="{{ path('account_user',{'slug':proposition.user.slug}) }}">
                                <img src="{{ asset('build/uploads/logo/Logo.png') | imagine_filter('my_thumb') }}"
                                     class="d-block img-thumbnail mx-auto" alt="default" title="voir le profil">
                            </a>
                        {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('proposition_babysitting_index') }}">
                        Liste de toutes les propositions
                    </a>
                </div>
            </div>
            {% if app.user  %}
                <div class="row">
                    <div class="col">
                        <a href="{{ path('account_user',{'slug':app.user.slug}) }}">Retour à mon profil</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
   {# {{ include('iHelp/proposition/babysitting/_delete_form.html.twig') }}#}
{% endblock %}
